*{
    margin: 0;
}

header{
    position: fixed;
    padding: 18px 0;
    background-color: black;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    column-gap: 150px;
}

.link{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #808080;
    transition-duration: 0.5s;
}

.link:hover{
    color: #fff;
}

.znachok-1{
    width: 40px;
}

.znachok-2{
    width: 30px;
}

.logotip{
    width: 130px;
}
  
.silteme-watch{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #808080;
    transition-duration: 0.5s;
}

.silteme-watch:hover{
    color: #fff;
}

.signin_box{
    margin-left: auto;
    display: flex;
    column-gap: 20px;
    align-items: center;

}

.nav-box{
    display: flex;
    column-gap: 20px;
}

.watch{
    background: linear-gradient(500deg, rgb(255, 20, 147) 27%, rgba(255, 255, 0,1) 100%);
    color: #fff;
    padding: 10px;
    border-radius: 40px;
    width: 90%;
    text-align: center;
    font-size: 14px;
}

.watch:hover{
    transform: scale(1.1);
    opacity: 85%;
}

